/*----------------------------------
   TABLE OF CONTENTS

  01. FONT DEFINITION

  02. BASE RULES

  03. LEFT PANEL

  04. HOME PAGE

  05. MAIN CONTENT
  -----------------------------------
  File last modified Sep 24, 2024
  ----------------------------------- */

/* --------------------- */
/* 01. FONT DEFINITION   */
/* --------------------- */
@font-face {
  font-family: 'source_sans_proregular';
  src: url('../../assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('../../assets/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
  url('../../assets/fonts/sourcesanspro-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prolight';
  src: url('../../assets/fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
  url('../../assets/fonts/sourcesanspro-light-webfont.woff') format('woff'),
  url('../../assets/fonts/sourcesanspro-light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('../../assets/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('../../assets/fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
  url('../../assets/fonts/sourcesanspro-semibold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold';
  src: url('../../assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('../../assets/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
  url('../../assets/fonts/sourcesanspro-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


/* ---------------- */
/* 02. BASE RULES   */
/* ---------------- */
a {
  color: #0078bd;
}

body {
  font-family: source_sans_proregular, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

th, td {
  background-color: unset;
  border: none;
  font-size: unset;
  min-width: unset;
  padding: unset;
}


/* ---------------- */
/* 03. LEFT PANEL   */
/* ---------------- */
.side-bar {
  //background-color: #444a55;
  background-color: #f7f7f7;
  border-right: unset;
  box-shadow: 1px 0 4px rgb(0 0 0 / 0.2);
  min-width: 300px;
  width: 300px;
}

.site-header {
  border-bottom: 1px solid #d6d6d6;
  margin-top: 1rem;
  padding: 0 2rem 1rem 1.25rem;
}

.site-title {
  padding: 0 !important;
}

.site-button:hover {
  background-image: none;
}

.site-title:hover {
  background-image: none;
}

h2.site-subtitle {
  color: #01529a;
  font-family: source_sans_prosemibold, Franklin Gothic, Verdana, Arial, sans-serif;
  font-size: 18px;
  margin: 1.5rem 0 .25rem 0;
  padding: 0 1rem;
  width: 100%
}

.site-description {
  color: #707070;
  font-size: 13px;
  display: none;
  margin: 0;
  padding: 0 1.5rem;
  width: 100%
}

/* navigation menu */
.site-nav {
  padding-top: 1.25rem;
}

.site-nav.nav-open {
  padding-top: .5em;
}

.site-nav.nav-open .nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
  padding-left: 2.25em;
}

.site-subtitle:has(~ .nav-open) {
  display: block;
}

.nav-list {
  margin-right: .5rem;
  margin-left: .5rem;
}

a.nav-list-link {
  color: #444444;
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
  color: #444444;
  padding-left: 1.5em;
}

.nav-list .nav-list-item {
  margin: 0.25rem 0;
}

.nav-list .nav-list-item .nav-list-link {
  line-height: 1.75rem;
  min-height: 1.75rem;
  padding: 0.125rem 1.75rem;
}

.nav-list .nav-list-item .nav-list-link:hover {
  background-image: none;
  background-color: transparent;
}

.nav-list .nav-list-item.active > .nav-list .nav-list-item.active .nav-list-link {
  color: #ffffff;
}

.nav-list .nav-list-item .nav-list-link.active {
  background-image: none;
  background-color: #01529a;
  border-radius: 6px;
  color: #ffffff;
  font-family: source_sans_prosemibold, Franklin Gothic, Verdana, Arial, sans-serif;
}

.nav-list .nav-list-item .nav-list-expander {
  color: #444444;
  left: 0;
  right: unset;
}

.nav-list .nav-list-item .nav-list-expander:has(~ .active) {
  color: #ffffff;
}

.nav-list .nav-list-item .nav-list-expander:hover {
  background-image: none;
}

.nav-list .nav-list-item .nav-list-expander svg {
  transform: none;
}

.nav-list .nav-list-item.active>.nav-list-expander svg {
  transform: rotate(90deg);
}

.site-footer {
  //color: #bdbdbd;
  //padding-right: 1.5rem;
  //padding-left: 1.5rem;
}

.site-footer .socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.site-footer .social {
  flex: 0 1 auto;
  height: 20px;
  width: 20px;
}

.site-footer a {
  color: inherit;
  background-image: none;
  text-decoration: underline;
}

/* responsive styles */
@media (min-width: 66.5rem) { /* 1064px */
  .site-nav,
  .site-header,
  .site-footer {
    width: 100%;
  }
}

@media (max-width: 50rem) { /* 800px */
  .side-bar {
    max-width: 100%;
    //padding-bottom: 1.25rem;
    width: 100%;
  }
  .site-header {
    height: 40px;
  }
  .site-logo {
    width: 200px;
  }
  .site-button .icon {
    color: #01529a;
  }
  h2.site-subtitle {
    display: none;
    font-size: 26px;
    margin-top: 1rem;
  }
  .site-description {
    font-size: 20px;
  }
  .nav-list .nav-list-item {
    font-size: 18px !important;
  }
  .nav-list .nav-list-item .nav-list-link {
    line-height: 2.25rem;
    min-height: 2.25rem;
    padding: 0.25rem 2.5rem;
  }
  .nav-list .nav-list-item .nav-list-expander {
    height: 2.5rem;
    padding: .625rem .5rem .5rem .5rem;
    width: 2.5rem;
  }
}


/* -------------------- */
/*  04.  HOME PAGE      */
/* -------------------- */
/*  04a. General        */
/* -------------------- */
.main:has(#homepage) {
  position: relative;
  margin-left: 300px;
  max-width: unset;
}

#homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#main-content-wrap:has(#homepage) {
  padding: 0;
}

#homepage p:last-of-type {
  margin-bottom: 0;
}

#homepage .cta {
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-family: source_sans_prosemibold, Franklin Gothic, Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.125;
  padding: 0;
}

#homepage .cta-text {
  display: flex;
  flex-direction: row;
  line-height: inherit;
  padding: 12px 24px;
}

/* --------------------- */
/*  04b. Hero section    */
/* --------------------- */
#homepage .hero {
  align-items: center;
  background: linear-gradient(0deg, #4286f4 -49.24%, #373b44 140%);
  display: flex;
  flex-direction: column;
  height: 700px;
  padding-top: 48px;
  overflow: visible;
  width: 100%;
}

#homepage .hero .title {
  color: #ffffff;
  font-family: source_sans_prosemibold, Franklin Gothic, Verdana, Arial, sans-serif;
  font-size: 64px;
  font-weight: normal;
  letter-spacing: -0.704px;
  line-height: 1.25;
  margin: 0 54px;
  text-align: center;
  max-width: 600px;
}

#homepage .hero .text {
  color: #ffffff;
  font-family: source_sans_prolight, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  //letter-spacing: -0.22px;
  line-height: 1.5;
  margin: 32px 64px;
  text-align: center;
  max-width: 700px;
}

#homepage .hero .cta {
  background-color: #ffffff;
}

#homepage .hero .cta-text {}

#homepage .hero .image {
  padding: 0 48px;
}

#homepage .hero img {
  border-radius: 8px;
  display: block;
  //height: 400px;
  box-shadow: -54px 94px 30px 0 rgba(14, 53, 83, 0.00),
  -35px 60px 28px 0 rgba(14, 53, 83, 0.01),
  -19px 34px 23px 0 rgba(14, 53, 83, 0.03),
  -9px 15px 17px 0 rgba(14, 53, 83, 0.04),
  -2px 4px 10px 0 rgba(14, 53, 83, 0.05);
  margin: 48px 0;
  width: 696px;
}

/* states */
#homepage .cta-text,
#homepage .cta-text:visited,
#homepage .cta-text:hover,
#homepage .cta-text:active,
#homepage .cta-text:focus {
  text-decoration: none;
}

#homepage .cta-text:hover,
#homepage .cta-text:focus,
#homepage .cta-text:focus-visible {
  color: #01529a; /* fix color later */
}

#homepage .cta:has(.cta-text:focus),
#homepage .cta:has(.cta-text:focus-visible) {
  background-color: #ebf5fa;
  outline: 2px solid #ff8c8f;
  outline-offset: 2px;
}

#homepage .cta:has(.cta-text:hover) {
  background-color: #ebf5fa;
}

#homepage .cta:has(.cta-text:hover) a,
#homepage .cta:has(.cta-text:focus) a,
#homepage .cta:has(.cta-text:focus-visible) a {
  outline: none;
}

/* responsive */
@media only screen and (max-width: 1040px) {
  #homepage .hero .title {
    font-size: 56px;
  }
  #homepage .hero .text {
    font-size: 19px;
  }
}

@media only screen and (max-width: 950px) {
  #homepage .hero .title {
    font-size: 48px;
  }
  #homepage .hero .text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 880px) {
  #homepage .hero .title {
    font-size: 40px;
  }
  #homepage .hero .text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 799px) {
  .main:has(#homepage) {
    margin-left: 0;
  }
  #homepage .hero .title {
    font-size: 64px;
  }
  #homepage .hero .text {
    font-size: 20px;
  }
}

/* ------------------------ */
/*  04c. Benefits section   */
/* ------------------------ */
#homepage .benefits {
  background: #fafafa;
  border: 4px solid #0078bd;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 240px 48px 0 48px;
  max-width: 1104px;
  padding: 16px;
}

#homepage .card {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 16px;
  padding: 16px;
}

#homepage .benefits > .card {
  width: calc(50% - 8px);
}

#homepage .benefits > .card h3 {
  background-repeat: no-repeat;
  background-size: 24px;
  color: #0078bd;
  font-size: 20px;
  letter-spacing: -0.22px;
  line-height: normal;
  margin-top: 0;
  padding-left: 32px;
}

#homepage .benefits > .card.modern h3 {
  background-image: url('../../assets/images/lightning.svg');
}

#homepage .benefits > .card.configurable h3 {
  background-image: url('../../assets/images/controls.svg');
}

#homepage .benefits > .card.accessible h3 {
  background-image: url('../../assets/images/accessibility.svg');
}

#homepage .benefits > .card.opensource h3 {
  background-image: url('../../assets/images/open-source.svg');
}

#homepage .benefits > .card p {
  color: #666666;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.154px;
  margin-left: 32px;
}

/* responsive */
@media only screen and (max-width: 1024px) {
  #homepage .benefits {
    flex-direction: column;
  }
  #homepage .benefits > .card {
    width: 100%;
  }
}

/* --------------------------- */
/*  04d. components section    */
/* --------------------------- */
#homepage .components {
  background: #fafafa;
  border-radius: 24px;
  margin: 90px 48px;
  max-width: 1104px;
  padding: 16px;
}

#homepage .components-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

#homepage .components-wrapper > .card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: calc(50% - 8px);
}

#homepage .components h2 {
  color: #444444;
  font-family: source_sans_prosemibold, Franklin Gothic, Verdana, Arial, sans-serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -0.44px;
  line-height: normal;
  margin: 0 0 16px 0;
  text-align: center;
}

#homepage .components .image.ic {
  background-image: url('../../assets/images/components-ic-dialog.png');
}

#homepage .components .image.scheduler {
  background-image: url('../../assets/images/components-scheduler.png');
}


#homepage .components .image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  overflow: hidden;
  width: 100%;
}

#homepage .components h3 {
  color: #444444;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -0.264px;
  line-height: normal;
  margin: 16px 0;
}

#homepage .components .card p {
  color: #666666;
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.154px
}

#homepage .components .cta {
  background: #0078bd;
  margin-top: 24px;
}

#homepage .components .cta-text {
  color: #ffffff;
}

/* states */
#homepage .components .cta:has(.cta-text:hover),
#homepage .components .cta:has(.cta-text:focus),
#homepage .components .cta:has(.cta-text:focus-visible) {
  background-color: #01529a;
}

/* responsive */
@media only screen and (max-width: 1024px) {
  #homepage .components-wrapper {
    flex-direction: column;
  }
  #homepage .components-wrapper > .card {
    width: 100%;
  }
}



/* ------------------ */
/* 05. MAIN CONTENT   */
/* ------------------ */
.main-header {
  display: none;
}

@media (min-width: 50rem) { /* 800px */
  .main {
    position: relative;
    max-width: 800px;
    margin-left: 350px;
  }
}
@media (min-width: 66.5rem) { /* 1064px */
  .main {
    margin-left: 350px;
  }
}

.main-content-wrap {
  padding: 1rem 1rem 1rem 1.5rem;
}

.breadcrumb-nav-list {
  margin-bottom: 1rem;
}

@media (min-width: 50rem) {
  .main-content-wrap {
    padding: 1rem 2rem 2rem 0;
  }
  .breadcrumb-nav {
    margin-top: 0;
  }
}

div.highlighter-rouge {
  padding: 0.5rem;
  margin-bottom: 2.25rem;
} /* code snippets */

.main a {
  background-image: none;
}

.main a:hover {
  background-image: none;
  text-decoration: underline;
}

/* demo page */
.demo-section img {
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
  rgba(14, 30, 37, 0.22) 0 2px 16px 0;
  outline: 1px solid #f7f7f7;
}

.demo-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.demo-section-text {
  flex: 1 1 40%;
}

.demo-section-image {
  flex: 1 1 60%;
  margin-top: -2rem;
}

.demo-section-text p {
  padding-right: 3rem;
}

@media (max-width: 50rem) { /* 800px */
  .demo-section {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .demo-section-image {
    margin-top: 0;
  }
}

//code snippet widget
.tab{
  height:35px;
  padding:5px;
}
.tab>li::before{
  content:'' !important
}
.tablinks {
  list-style: none;
  float: left;
  padding: 8px;
  font-weight: bold;
  cursor:pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.tablinks.active {
  border-bottom: 3px solid #0473b7;
  cursor:auto;
}
.tablinks .copy-code , .tablinks .open-fiddle {
  padding: 6px;
  background-color: transparent;
  border-radius: 4px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #5c5962;
  font-size: smaller;
  cursor:pointer;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  width: auto;
  height: auto;
}
.paper {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  border-radius:7px;
  height:100%
}
.main-container{
  padding:10px
}
.code-container {
  overflow: auto;
  height: auto;
  max-height: 526px;
  padding: 10px;
  background-color: #1c2128;
}
.code-container .code-snippet{
  color: #f0f0f0;
  background: transparent;
  font-family: "SF Mono", "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  line-height: 1.55em;
  font-size: 12px;
  overflow-x: auto;
}

.main-container #result {
  overflow-x: auto;
  height: 526px;
  padding: 10px;
}