.control {
display: block;
}
.control.input.text > .wrap {
	display:block;
}
.control.input.password > .wrap {
	display:block;
}
.error, .logout{
    color: red;
}
.success{
    color: green;
}
.message{
    display: none;
}
@keyframes fadeIn {
    from { opacity: 0; }
}

.loader p {
    top: 50px;
    font: italic bold 1.2em/1 Bodoni, serif;
    color: #555;
    text-align: center;
    animation: fadeIn 1s infinite alternate;
}