#inputValidationFilters {
    width:400px;
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}

#inputValidationFilters p {
  position: relative;
  top: 50px;
  
  font: italic bold 1.2em/1 Bodoni, serif;
  color: #555;
  text-align: center;
  
  animation: fadeIn 1s infinite alternate;
}