#filteringParameter {
    margin-top: 10px
}
@keyframes fadeIn {
    from { opacity: 0; }
}

#filteringParameter .loader {
    animation: fadeIn 1s infinite alternate;
    font: italic bold 1.2em/1 Bodoni, serif;
    color: #555;
    text-align: center;
}