#dashboardUndo {
  width: auto;
  height: 700px;
}

#dash-filter-params th {
  background-color: blue;
}

@keyframes fadeIn {
  from { opacity: 0; } 
}

.loader p {
  top: 50px;
  right: 250px;
  
  font: italic bold 1.2em/1 Bodoni, serif;
  color: #555;
  text-align: center;
  
  animation: fadeIn 1s infinite alternate;
}