#ic {
    width:300px;
    float:left;
    padding-right: 15px;
}

#report {
  width:800px;
  float:left;
}

@keyframes fadeIn {
  from { opacity: 0; } 
}

.loader p {
    top: 50px;
    font: italic bold 1.2em/1 Bodoni, serif;
    color: #555;
    text-align: center;
}