.resource-type-datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.resource-type-datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.resource-type-datagrid table td, .resource-type-datagrid table th {
    padding: 3px 10px;
}
.resource-type-datagrid table thead th {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699;
    color:#FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}
.resource-type-datagrid table thead th:first-child {
    border: none;
}
.resource-type-datagrid table tbody td {
    color: #00496B;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}
.resource-type-datagrid table tbody .alt td {
    background: #E1EEF4;
    color: #00496B;
}
.resource-type-datagrid table tbody td:first-child {
    border-left: none;
}
.resource-type-datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.resource-type-datagrid table tfoot td div {
    border-top: 1px solid #006699;
    background: #E1EEF4;
}
.resource-type-datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}
.resource-type-datagrid table tfoot td div {
    padding: 2px;
}
.resource-type-datagrid table tfoot td ul {
    margin: 0;
    padding:0;
    list-style: none;
    text-align: right;
}
.resource-type-datagrid table tfoot li {
    display: inline;
}
.resource-type-datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699;
}
.resource-type-datagrid table tfoot ul.active, .resource-type-datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #006699;
    color: #FFFFFF;
    background: none;
    background-color:#00557F;
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important;
}
select, select option {text-transform:capitalize}